{% extends 'base.html' %}
{% load static %}
{% block title %}
login
{% endblock %}

{% block content %}
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <!-- <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/lotus.png" style="width: 185px;" alt="logo"> -->
                  <h5 class="u-custom-font u-font-lobster u-text u-text-1">
                    <span class="u-text-palette-1-base">GREEN</span>
                    <span style="font-weight: 400;">
                    <span class="u-text-palette-1-base"></span>
                  </h5>
                  <h4 class="mt-1 mb-5 pb-1">Welcome to Green</h4>
                </div>

                  {% if messages %}
                    <ul style="color: red;">
                      {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}

                <form action="/accounts/signup/" method="POST">
                  <p>Create an account</p>
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="form-outline mb-4">
                      <label class="mylabel">{{ field.label }}</label>
                        {{ field }}
                    </div>
                  {% endfor %}
                  
                  <div align='center'>
                    <button type="submit" class="btn btn-outline-success">Sign In</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Help us to make the world a better place to live in</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}